<launch>
  <arg name="mav_name" default="c5"/>

  <param name="mesh_path" type="str" value="$(find aeroscan_uav_simulation)/models/oil_rig/meshes/8.obj" />
  <param name="cloud_path" type="str" value="$(find leica_scanstation_utils)/pointclouds/scan.pcd" />
  <param name="mapping" type="str" value="$(arg mapping)" />

  <node name="grsim_ros_bridge_node" pkg="grsim_ros_bridge" type="grsim_ros_bridge.py" output="screen"/>
  <node name="vision_comm_node" pkg="vision_comm" type="vision_node" output="screen"/>  

</launch>
